.inner{
    max-width:1200px;
    margin:0 auto;
}
input{
    outline:0;
}


/*********************bottom****************************/
#bottom{
    width:100%;
    background-color:#fff;
    z-index: 999999;
    position:fixed;
    bottom:0;
    display: none;
}
#bottom div{
    width:20%;
    padding:15px 0px;
    box-shadow: border-box;
    text-align: center;
    font-size:0.812rem;
    line-height: 2.5em;
    float:left;
}
#bottom div img{
    width:25%;
}
/*********************header****************************/
#header{
    position:absolute;
    top:0;
    left:2%;
    width:100%;
    z-index:9999;
    border-bottom:1px solid #fff;
    width:96%;
    display: flex;
    justify-content: space-between


}
#header h1{
    margin-top: 5px;
}
#header #nav{
    text-align:center;

}
#header #nav .depth:after{
    content:'';
    display: block;
    clear:both;
}
#header #nav .depth{
    margin:5px 0;
    padding:10px 30px;
    position:relative;
}
#header #nav .depth > li {
    float:left;
    text-align:center;
    position: relative;

}
#header #nav .depth > li >a {
    padding:0 35px;
    display: block;
    color:#fff;

}
#header #nav .depth1{
    background-color: #fff;
    display:none;
    position:absolute;
    top:40px;
    width:100%;
}
#header #nav .depth1:nth-child(1){
}
#header #nav .depth1 > li:after{
    content:'';
    display: block;
    width:175px;
    margin:0 auto;
    padding:0 0 2px 0;
}
#header #nav .depth1 > li:last-child:after{
    border:none;
}
#header #nav .depth1 > li{
    width:100%;
}
#header #nav .depth1 > li a{
    line-height: 2em;
    font-size:0.937rem;
}
#header div{
    text-align:center
}
#header #nav .depth > li:hover .depth1{
    display:block;

}
#header .logjo p{
    float:left;
    margin-top:10px;
    color:#fff;
    margin:15px 0;
    padding-left:20px;
}
#header .login{
    background: url(../images/login.png) no-repeat left center;
    padding-right:20px;
}
#header .join{
    background: url(../images/join.png) no-repeat left center;
    
}
#header .nav_btn{
    width:35px;
    height:35px;
    margin-top:10px;
    border:3px solid #fff;
    background:transparent;
    margin-right:10px;
    position:relative;
    text-indent:-9999999999px;
    display: none;
}
#header .nav_btn span{
    display: block;
    position:absolute;

}
#header .nav_btn .top{
    width:20px;
    height:3px;
    left:5px;
    top:6px;
    background:#fff; 
}
#header .nav_btn .center{
    width:20px;
    height:3px;
    left:5px;
    top:13.5px;
    background:#fff; 
}
#header .nav_btn .right{
    width:20px;
    height:3px;
    left:5px;
    top:21px;
    background:#fff; 
}
#header .nav_btn.on .top{
    width:20px;
    height:3px;
    left:5px;
    top:6px;
    background:#FEA6F1; 
    transform:rotate(-45deg) translate(-5px, 5.5px);
}
#header .nav_btn.on .center{
    width:00px;
    height:3px;
    left:5px;
    top:13.5px;
    background:#fff; 
}
#header .nav_btn.on .right{
    width:20px;
    height:3px;
    left:5px;
    top:21px;
    background:#FEA6F1; 
    transform:rotate(45deg) translate(-5px, -5.5px);
}
/*********************slide****************************/
#slide {
    position:relative;
}
#slide .lazy img{
    width:100%;
}
#slide .lazy{
}
#slide .slick-arrow{
    width:10px;
    height:24px;
    text-indent:-9999999px;
    position:absolute;
    bottom:13%;
    border:none;
    background-color: transparent;
    left:calc(50% - 50px);
}
#slide .slick-prev{
    background: url(../images/arr_10.png) no-repeat;
    z-index:999999
}
#slide .slick-next{
    background: url(../images/arr_9.png) no-repeat;
    z-index:999999;
    left:calc(50% + 40px);
    
}
#slide .slick-dots{
    position:absolute;
    bottom:13.5%;
    left:calc(50% - 30px);
    text-indent: -999999999999px;
}
#slide ul li{
    float:left;
    margin:0 10px;
    z-index:99999;
    width:10px;
    height:10px;
    background-color: #fff;
    border-radius:10px;


}
/*********************section1****************************/
.sec1_tct2{display: none;}
.tabSet{
	margin-bottom:30px;
}
.tabSet ul.tabs {
	overflow:hidden;
	width:100%;
}
.tabSet ul.tabs  li{
    width:50%;
		float:left;
		list-style-type:none;
	}
.tabSet ul.tabs li a{
			float:left;
			color:#fff;
			background:#808080;
			display:block;
            width:100%;
			font-size:1.25rem;
            padding:20px 40px;
            box-sizing: border-box;
		}
.tabSet ul.tabs li a .text_bus{
    float:left;
}
    #sec1 .sec1_tct{
        float:right;
    }
.tabSet ul.tabs li a .tct{
    float:left;
    font-size:0.937rem;
    font-weight:200;
    margin-top:3px;
    margin-right: 10px;
}
.tabSet ul.tabs li a .tct:nth-child(2){
    margin-right:15px;

}
.tabSet ul.tabs li a input{
    margin-right:2px;
}

.tabSet ul.tabs li a:hover{
			text-decoration:underline;
		}
.tabSet ul.tabs li a.on{
			background:#fff;
			cursor:default;
			color:#808080;
		}
.tabSet ul.tabs li a.on:hover{
			text-decoration:none;
		}
.panels{
	background-color:#fff;
    border-bottom:1px solid #E7E7E7;
    border-right:1px solid #E7E7E7;
    border-left:1px solid #E7E7E7;
    padding:20px 40px;
    width: 100%;
    box-sizing: border-box;
}
.panel{
	font-size:14px;
	color:#4d4d4d;
    display:none;
}
.panel .house {
}
.panel .house div{
    float:left;
    text-align: center;
    margin:0 auto;
    border-right: 2px solid #E0E0E0; 
}
.panel .house div:nth-child(3),
.panel .house div:nth-child(4){
    border-right:none;
}
.panel .house:after{
    content:'';
    display: block;
    clear:both;
}
.panel .house .tit:after{
    content:'';
    display: block;
    clear:both;
}
.panel .house .tit{
    color:#CFCFCF;
}
.panel .house p{
    float:left;
    margin:0 10px;
    border:none;
    margin-top:3px;
}
.panel .house .input{
    float:left;
    margin:0 10px;
    border:none;
    font-size:1.125rem;
}
.panel .house .left.tit{
    font-size:0.937rem;
    text-align: center;
}
.panel .house .left{
    margin-top:10px;
}
.panel .house .left input{
    width:124px;
    text-align: center;
}
.panel .house .center{
    margin-top:10px;
}
.panel .house .center input{
    width:180px;
    text-align: center;
    font-size:1.125rem;
}
.panel .house .center .tit:nth-child(1){
    margin-left:40px;
}
.panel .house .center .input2{
    border:none;
    margin-right:40px;
}
.panel .house .right {
    margin-top:10px;
}
.panel .house .right .txt{
    font-size:1.125rem;
    width:238px;
    font-weight: center;

}
.panel .house .right2{
}
.panel button{
    width:53px;
    height:51px;
    background:url(../images/arr.png) no-repeat;
    background-position: -343px -14px;
    border:none;
    cursor:pointer;
    text-indent: -99999999px;
}

/********************************************/


.panel .bus {
}
.panel .bus div{
    float:left;
    text-align: center;
    margin:0 auto;
    border-right: 2px solid #E0E0E0; 
}
.panel .bus div:nth-child(3),
.panel .bus div:nth-child(4){
    border-right:none;
}
.panel .bus:after{
    content:'';
    display: block;
    clear:both;
}
.panel .bus .tit:after{
    content:'';
    display: block;
    clear:both;
}
.panel .bus .tit{
    color:#CFCFCF;
}
.panel .bus p{
    float:left;
    margin:0 10px;
    border:none;
    margin-top:3px;
}
.panel .bus .left.tit{
    font-size:0.937rem;
    text-align: center;
}
.panel .bus .left{
    margin-top:10px;
    font-size:1.125rem;
    padding-right:30px;
}
.panel .bus .left input{
    width:150px;
    text-align: center;
    border:none;
}
.panel .bus .center{
    margin-top:10px;
    padding-right:30px;
}
.panel .bus .center input{
    width:300px;
    border:none;
    text-align: center;
    font-size:1.125rem;
}
.panel .bus .center .tit:nth-child(1){
    margin-left:40px;
}
.panel .hbus .center .input2{
    border:none;
    margin-right:40px;
}
.panel .bus .right {
    margin-top:10px;
}
.panel .bus .right .txt{
    font-size:1.125rem;
    width:257px;
    font-weight: center;

}

#sec1{
    position:relative;
}
#sec1 .tabSet{
    position:absolute;
    top:-73px;
    box-shadow: 0 0 5px #4d4d4d;
}



/*********************section2****************************/
#sec2 {
    margin-top:200px;
}
#sec2 a{
    display: block;
}
#sec2 img{
    padding-top:60px;
}
#sec2:after{
    content:'';
    display: block;
    clear:both;
}
#sec2 article{
    float:left;
    width:calc((100% - 60px)/3);
    text-align: center;
    border:1px solid #E7E7E7;
    box-sizing:border-box;
    margin-right:30px;
    content:'';
    display: block;
    position:relative;
}
#sec2 article .tit{
    font-size:2rem;
    font-weight: 400;
    padding-top:50px;
}
#sec2 article .txt{
    margin-top:50px;
    font-weight: 300;
}
#sec2 article button{
    padding:15px 50px;
    border-radius:30px;
    margin-top:30px;
    border:none;
    margin-bottom:60px;
    cursor:pointer;
}
#sec2 article:nth-child(3){
    margin-right:0px;
}
#sec2 .left .tit{
    color:#3876D9;
}
#sec2 .left button{
    background-color: #3876D9;
    color:#fff;
}


#sec2 .center .tit{
    color:#8D89E3;
}
#sec2 .center button{
    background-color: #8D89E3;
    color:#fff;
}
#sec2 .right .tit{
    color:#FEA6F1;
}
#sec2 .right button{
    background-color: #FEA6F1;
    color:#fff;
}

/***************************************/
#sec2 .left::before{
    content:'';
    display: block;
    position:absolute;
    top: -1px;
    left: -2px;
    width:0%;
    height:0%;
    border-top:4px solid transparent;
    border-right:4px solid transparent;
}
#sec2 .left:hover:before, #sec2 .left:focus:before{
    border-color:#3876D9;
        width: calc(100% + 0px);
    height: calc(100% - 3px);
    transition:width 0.3s, height 0.3s 0.3s;
}
#sec2 .left::after{
    content:'';
    display: block;
    position:absolute;
    bottom: -2px;
    right: -2px;
    width:0%;
    height:0%;
    border-bottom:4px solid transparent;
    border-left:4px solid transparent;
}
#sec2 .left:hover:after, #sec2 .left:focus:after{
    border-color:#3876D9;
    width: calc(100% + 1px);
    height: calc(100% - 1px);
    transition:width 0.3s, height 0.3s 0.3s;
}
#sec2 .right::before{
    content:'';
    display: block;
    position:absolute;
    top: -1px;
    left: -2px;
    width:0%;
    height:0%;
    border-top:4px solid transparent;
    border-right:4px solid transparent;
}
#sec2 .right:hover:before, #sec2 .right:focus:before{
    border-color:#FEA6F1;
        width: calc(100% + 0px);
    height: calc(100% - 3px);
    transition:width 0.3s, height 0.3s 0.3s;
}
#sec2 .right::after{
    content:'';
    display: block;
    position:absolute;
    bottom: -2px;
    right: -2px;
    width:0%;
    height:0%;
    border-bottom:4px solid transparent;
    border-left:4px solid transparent;
}
#sec2 .right:hover:after, #sec2 .right:focus:after{
    border-color:#FEA6F1;
    width: calc(100% + 1px);
    height: calc(100% - 1px);
    transition:width 0.3s, height 0.3s 0.3s;
}
#sec2 p.txt_display{
    display:none;
    font-weight: 300;
}
/*********************section3****************************/
#sec3{
    margin-top:100px;
}
#sec3 .more:after{
    content:'';
    display: block;
    clear:both;
}
#sec3 .tit{
    font-size:1.875rem;
    font-weight:300;
}
#sec3 h3{
    font-size:2.5rem;
    font-weight:700;
    color:#3876D9;
}
#sec3 .left{
    width:100%;
    position:relative;

}
#sec3 .right{
    width:86%;
    position:absolute;
    bottom:15px;
    right:0;
}
#sec3 .more{
    text-align:right;
    border-bottom:2px solid #3C3C3B;
    padding-right:10px;
    padding-bottom:5px;
}
#sec3 .more:after{
    content:'';
    display: block;
    background:url(../images/arr.png) no-repeat right center;
    width:5px;
    height:12px;
    background-position: -48px, 245px;
    float:right;
    margin-top:5px;
    margin-left:10px;
}
#sec3:after{
    content:'';
    display: block;
    clear:both;
}
#sec3 .sec3_left{
    width:calc(50% - 12px);
    float:left;
}
#sec3 .sec3_left .left_in > div{
    height:126px;
    border-bottom:1px solid #CFCFCF;
    padding:20px 0;
}
#sec3 .sec3_left .left_in > div:nth-child(4){
    border:none;
}
#sec3 .sec3_left .left_in .text{
    float:left;
}
#sec3 .sec3_left .left_in .img{
    float:right
}
#sec3 .sec3_left .left_in{
    line-height:2.2em;
}
#sec3 .sec3_left .left_in .txt{
    font-size:0.937rem;
    color:#808080;
    margin-top:5px;
    font-weight: 300;
}
#sec3 .sec3_left .left_in .tit{
    font-size:1.562rem;
    color:#3C3C3B;
    margin-top:10px;
    font-weight: 400;
}
#sec3 .sec3_left .left_in .tct{
    font-size:1.125rem;
    color:#808080;
    font-weight: 300;
}
#sec3 .sec3_right{
    width:calc(50% - 14px);
    float:right;
    color:#fff;
}
#sec3 .sec3_right .img1:after{
    content:'';
    display: block;
    clear:both;
}
#sec3 .sec3_right .img1{
    background:url(../images/sec3_04.jpg) no-repeat;
    height:205px;
    width:100%;
    margin-top:10px;
    margin-bottom:15px;
}
#sec3 .sec3_right .img2{
    background:url(../images/sec3_05.jpg) no-repeat;
    height:205px;
    margin-bottom:15px;
}
#sec3 .sec3_right .img3{
    background:url(../images/sec3_06.jpg) no-repeat;
    height:205px;
}
#sec3 .sec3_right .right_in .img1 .txt{
    width:100%;
    text-align: left;
    padding-top:25px;
    padding-left:30px;
    padding-bottom:35px;
    box-sizing: border-box;
    font-weight: 300;
}
#sec3 .sec3_right .right_in .img1 .txt2{
    width:100%;
    text-align: right;
    padding-top:35px;
    padding-right:30px;
    box-sizing: border-box;
    font-weight: 300;
}
#sec3 .sec3_right .right_in .txt{
    width:100%;
    text-align: left;
    padding-top:25px;
    padding-left:30px;
    padding-bottom:15px;
    box-sizing: border-box;
    font-weight: 300;
}
#sec3 .sec3_right .right_in .tit{
    width:100%;
    text-align: center;
    font-weight: 500;
}
#sec3 .sec3_right .right_in .txt2{
    width:100%;
    text-align: right;
    padding-top:15px;
    padding-right:30px;
    box-sizing: border-box;
    font-weight: 300;
}
#sec3 .sec3_right .right_in div:before{
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:25px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}
#sec3 .sec3_right img{
    width:100%;
}
#sec3 .sec3_right .right_in div{
    position:relative;
}
#sec3 .sec3_right .right_in div a{
    position:relative;
    z-index: 9999999;
}
#sec3 .sec3_right .right_in div:hover:before{
    opacity: 1;
    transition: opacity .3s;
}
/*********************section4****************************/
#sec4 {
    margin-top:100px;
}
#sec4:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 div:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 .main{
    position:relative;
    margin-bottom:20px;
}
#sec4 h3{
    font-size:2.5rem;
    font-weight:700;
    color:#FEA6F1;
    width:100%;
}
#sec4 .main:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 .more{
    width:78%;
    margin-top:10px;
    text-align:right;
    border-bottom:2px solid #3C3C3B;
    box-sizing: border-box;
    padding-right:10px;
    padding-bottom:5px;
    position:absolute;
    bottom:15px;
    right:0;
    
}
#sec4 .more:after{
    content:'';
    display: block;
    background:url(../images/arr.png) no-repeat right center;
    width:5px;
    height:12px;
    background-position: -48px, 245px;
    float:right;
    margin-top:5px;
    margin-left:10px;
}
#sec4 .right_1,
#sec4 .right_2,
#sec4 .right_3{
    float:left;
    width:60%;
    border:1px solid #D0D0D0;
    margin-bottom:20px;
    position:relative;
    box-sizing: border-box;
}
#sec4 .left{
    width: calc(40% - 20px);
    float:left;
    margin-right:20px;
    border:1px solid #D0D0D0;
    box-sizing: border-box;
    position:relative;
}
#sec4 .left img{
    width:100%;
}
#sec4 .left .text{
    margin-left:20px;
    padding:31px  0;
    position:relative;
}
#sec4 .right_1 .text,
#sec4 .right_2 .text,
#sec4 .right_3 .text{
    position:relative; 
    width: 50%;
    float: left;
    position:absolute;
    top:calc(50% - 35px);
    left:13%;   
}
#sec4 article .tit,{
    font-size: 1.187rem;}
#sec4 article .txt{
    font-size: 1.625rem;
    color:#FEA6F1;
    margin-top:5px;
    font-weight:500;}
#sec4 .right_1 img,
#sec4 .right_2 img,
#sec4 .right_3 img{
    float:right;
}
#sec4 .right article a:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 .number{
    position:absolute;
    left:0;
    width:50px;
    height:50px;
    background: #B4B4B4;
    text-align: center;
    color:#fff;
    font-size:1.562rem;
    line-height: 2em;
    transition: background-color 0.3s;
}
#sec4 .right_1 .number,
#sec4 .right_2 .number,
#sec4 .right_3 .number{
    top:calc(50% - 25px);
}
#sec4 .right_1 .text:after,
#sec4 .right_2 .text:after,
#sec4 .right_3 .text:after{
    content:'';
    display: block;
    background: url(../images/arr.png) no-repeat right center;
    width:17px;
    height:40px;
    background-position: -173px -21px;
    float:right;
    position:absolute;
    top:20px;
    right:30px;}
#sec4 .left .text:after{
    content:'';
    display: block;
    background: url(../images/arr.png) no-repeat right center;
    width:17px;
    height:40px;
    background-position: -173px -21px;
    float:right;
    position:absolute;
    bottom:35%;
    right:20px;}
/*
#sec4 .right:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 .right{
    float:right;
    width:calc(60% - 12px);
}
#sec4 .right_1{
    border:1px solid #D0D0D0;
    margin-bottom:24px;
    transition:border 0.3s;
    width: 100%;
}
#sec4 .right_2{
    border:1px solid #D0D0D0;
    margin-bottom:24px;
    width:100%;
    box-sizing: border-box;
    transition:border 0.3s;
    position:relative;
}
#sec4 .right p{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
}
#sec4 .right .tit{
    font-size: 1.187rem;
    margin-top: 20px;
    padding-left:65px;
}
#sec4 .left .tit{
    font-size: 1.187rem;
    padding-left:20px;
    
}
#sec4 .left .txt{
    font-size: 1.625rem;
    color:#FEA6F1;
    margin-top:5px;
    font-weight:500;
    padding-left:20px;
    
}

#sec4 .right .text:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 .left .text{
    padding:29px 0;
    position:relative;
}
#sec4 .right .txt{
    font-size: 1.625rem;
    color:#FEA6F1;
    margin-top: 48px;
    font-weight:500;
    padding-left:65px;
}
#sec4 .right_3{
    border:1px solid #D0D0D0;
    margin-bottom:24px;
    transition:border 0.3s;
    position: relative;

}
#sec4 .right .text{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
}
#sec4:after{
    content:'';
    display: block;
    clear:both;
}
#sec4 .right .text:after{
    content:'';
    display: block;
    background: url(../images/arr.png) no-repeat right center;
    width:17px;
    height:40px;
    background-position: -173px -21px;
    float:right;
    position:absolute;
    top:calc(50% + 8px);
    right:20px;}
#sec4 .left .text:after{
    content:'';
    display: block;
    background: url(../images/arr.png) no-repeat right center;
    width:17px;
    height:40px;
    background-position: -173px -21px;
    float:right;
    position:absolute;
    bottom:calc(30% + 5px);
    right:20px;}*/
/********************************/


#sec4 .left:before{
    content:'';
    display: block;
    position:absolute;
    left: -1px;
    top: -3px;
    width:0;
    height:0;
    border-top:4px solid transparent;
    border-right:4px solid transparent
}
#sec4 .left:hover:before, #sec4 .left:focus:before{
    width: calc(100% + 0px);
    height: calc(100% + 1px);
    border-top:4px solid #FEA6F1;
    border-right:4px solid #FEA6F1;
    transition:width .3s, height .3s .3s;
}
#sec4 .left:after{
    content:'';
    display: block;
    position:absolute;
    right:1px;
    bottom:-2px;
    width:0;
    height:0;
    border-bottom:4px solid transparent;
    border-left:4px solid transparent
}
#sec4 .left:hover:after, #sec4 .left:focus:after{
    width:calc(100% - 3px);
    height: calc(100% + 1.5px);
    border-bottom:4px solid #FEA6F1;
    border-left:4px solid #FEA6F1;
    transition:width  .3s .6s, height  .3s 0.9s, border-color .3s .6s;
}
#sec4 .left:hover .number{
   background: #FEA6F1
}





#sec4 .right_1:before,
#sec4 .right_2:before,
#sec4 .right_3:before{
    content:'';
    display: block;
    position:absolute;
    left:1px;
    top:-2px;
    width:0;
    height:0;
    border-top:4px solid transparent;
    border-right:4px solid transparent
}
#sec4 .right_1:hover:before, #sec4 .right_1:focus:before,
#sec4 .right_2:hover:before, #sec4 .right_2:focus:before,
#sec4 .right_3:hover:before, #sec4 .right_3:focus:before{
    width: calc(100% - 3px);
    height: calc(100% + 0px);
    border-top:4px solid #FEA6F1;
    border-right:4px solid #FEA6F1;
    transition:width .3s, height .3s .3s;
}
#sec4 .right_1:after,
#sec4 .right_2:after,
#sec4 .right_3:after{
    content:'';
    display: block;
    position:absolute;
    right:0px;
    bottom:-2px;
    width:0;
    height:0;
    border-bottom:4px solid transparent;
    border-left:4px solid transparent
}
#sec4 .right_1:hover:after, #sec4 .right_1:focus:after,
#sec4 .right_2:hover:after, #sec4 .right_2:focus:after,
#sec4 .right_3:hover:after, #sec4 .right_3:focus:after{
    width:calc(100% - 2px);
    height: calc(100% + 0px);
    border-bottom:4px solid #FEA6F1;
    border-left:4px solid #FEA6F1;
    transition:width  .3s .6s, height  .3s 0.9s, border-color .3s .6s;
}
#sec4 .right_1:hover .number,
#sec4 .right_2:hover .number,
#sec4 .right_3:hover .number{
   background: #FEA6F1
}
/*********************section5****************************/
#sec5{
    margin-top:100px;
    border-bottom:2px solid #808080;
    width:1200px;
    margin:100px auto 0 auto;
}
#sec5:after{
    content:'';
    display: block;
    clear:both;
}
#sec5 h3{
    font-size:2.5rem;
    font-weight:700;
    color:#3C3C3B;
}
#sec5 .main{
    position:relative;
}
#sec5 .main:after{
    content:'';
    display: block;
    clear:both;
}
#sec5 .more{
    width:92%;
    margin-top:10px;
    text-align:right;
    border-bottom:2px solid #3C3C3B;
    padding-right:10px;
    padding-bottom:5px;
    box-sizing: border-box;
    position:absolute;
    bottom:15px;
    right:0;
    
}
#sec5 .more:after{
    content:'';
    display: block;
    background:url(../images/arr.png) no-repeat right center;
    width:5px;
    height:12px;
    background-position: -48px, 245px;
    float:right;
    margin-top:5px;
    margin-left:10px;
}
#sec5 .instar{
    margin-top:20px;
}
#sec5 .instar:after{
    content:'';
    display: block;
    clear:both;
}
#sec5 .instar li{
    width:calc((100% - 78px)/4);
    float:left;
    margin-right:26px;
    margin-bottom:26px;
    position:relative;
}
#sec5 .instar li:nth-child(4),
#sec5 .instar li:nth-child(8){
    margin-right:0;
}
#sec5 .instar li:before{
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0px;
    width:0%;
    height:0%;
    border-top:6px solid transparent;
    border-right:6px solid transparent;
}
#sec5 .instar li:hover:before, 
#sec5 .instar li:focus:before {
    width:calc(100% - 6px);
    height:calc(100% - 6px);
    border-top:6px solid #8D89E3;
    border-right:6px solid #8D89E3;
    transition:width .3s, height .3s .3s
}
#sec5 .instar li:after{
    content:'';
    display: block;
    position:absolute;
    bottom:0;
    right:1px;
    width:0%;
    height:0%;
    border-bottom:6px solid transparent;
    border-left:6px solid transparent;
}
#sec5 .instar li:hover:after, 
#sec5 .instar li:focus:after {
    width:calc(100% - 6px);
    height:calc(100% - 6px);
    border-bottom:6px solid #8D89E3;
    border-left:6px solid #8D89E3;
    transition:width .3s, height .3s .3s
}

#sec5_1 .center4 {
    display: none;
}

#sec5_1  .slick-slide {
        width: 193px !important;
        margin-right:15px;
        margin-top:10px;}  
/*********************section6****************************/
#sec6 {
    margin-top:20px;
}
#sec6 .slick-slide iframe {
    width:100%;

}
#sec6 .slick-slide{
    margin:0 10px;
}
#sec6 .slick-arrow{
    position:absolute;
    top:0;
    border:none;
    text-indent:-999999999999px;
    z-index:99999
}
#sec6 .slick-prev{
    width:40px;
    height:100%;
    left:0;
   background: url(../images/arr_8.png) no-repeat right center; 
}
#sec6 .slick-next{
    right:0;
    width:40px;
    height:100%;
   background: url(../images/arr_7.png) no-repeat right center; 
}

/*********************section7****************************/
#sec7{
    margin-top:100px;
}
#sec7:after{
    content:'';
    display: block;
    clear:both;
}
#sec7 .main,
#sec7 .main2{
    position:relative;
}
#sec7 .main h3,
#sec7 .main2 h3{
    font-size:2.5rem;
    font-weight:700;
    color:#3C3C3B;
}
#sec7 .main .more{
    width:65%;
    margin-top:10px;
    text-align:right;
    border-bottom:2px solid #3C3C3B;
    box-sizing: border-box;
    padding-right:10px;
    padding-bottom:5px;
    position:absolute;
    bottom:15px;
    right:0;
}
#sec7 .main:after{
    content:'';
    display: block;
    clear:both;
}
#sec7 .main2 .more{
    width:70%;
    margin-top:10px;
    text-align:right;
    border-bottom:2px solid #3C3C3B;
    padding-right:10px;
    padding-bottom:5px;
    position:absolute;
    bottom:15px;
    right:0;
}
#sec7 .main2:after{
    content:'';
    display: block;
    clear:both;
}
#sec7 .more:after{
    content:'';
    display: block;
    background:url(../images/arr.png) no-repeat right center;
    width:5px;
    height:12px;
    background-position: -48px, 245px;
    float:right;
    margin-top:5px;
    margin-left:10px;
}
#sec7 article{
    float:left;
    width:calc((100% - 40px)/2);
    margin-right:40px;
}
#sec7 article:nth-child(2){
    margin-right:0;
}
#sec7 .in_text .text{
    border-bottom:2px solid #E4E4E4;
    padding:15px 10px;
}
#sec7 .in_text .text:after{
    content:'';
    display: block;
    clear:both;
}
#sec7 .in_text .text .tct{
    float:left;
    font-size:1.125rem;
    color:#262626;
    font-weight:600;
    margin-right:20px;
}
#sec7 .in_text .text .tit{
    float:left;
    font-size:1.125rem;
}
#sec7 .right .in_text .text .tit:after{
    content:'';
    display:block;
    background: url(../images/arr.png) no-repeat right center;
    width:13px;
    height:18px;
    background-position: -90px -241px;
    float: right;
    margin:5px 10px 0 10px;
}
#sec7 .in_text .text .txt{
    float:right;
    font-size:0.937rem;
    color:#B8B8B8;
}
/*********************footer****************************/
#footer{
    margin-top:100px;
    background-color: #3876D9;
    color:#fff;
    padding:70px 0 ;
}

#footer h3{
    border-bottom:2px solid #fff;
    padding-bottom:25px;
    font-size:1.876rem;
    font-weight:200;
}
#footer:after{
    content:'';
    display: block;
    clear:both;
}
#footer .left{
    font-size: 0.75rem;
    font-weight:200;
    float:left
}
#footer .left .left_top{
    margin-top:25px;
    margin-bottom:50px;
}
#footer .left .left_top p{
    display:inline-block;
    height:0.937rem;
    border-right:2px solid #fff;
    padding:0 10px;
    line-height: 1em;
}
#footer .left .left_top p.point{
    font-weight:400;

}
#footer .left .left_top p:nth-child(1){
    padding-left:0;
}
#footer .left .left_top p:nth-child(5){
    border-right:none;
}
#footer .left_center{
    line-height:1.5em;
    margin-bottom:50px;
}
#footer .right{
    float:right;
    text-align: center;
    margin-top: 25px;
}
#footer .right button{
    width:27px;
    height:30px;
    background:url(../images/arr.png) no-repeat;
    border:none;
    margin:0 3px;
    cursor: pointer;
}
#footer .right button:nth-child(1){
    background-position:-155px -235px;
}
#footer .right button:nth-child(2){
    background-position:-200px -235px;
    margin-right:10px;
}
#footer .right button:nth-child(3){
    background-position:-255px -235px;
}
#footer:after{
    content:'';
    display: block;
    clear:both;
}
#footer .top_but{
    position:absolute;
    right:0;
    bottom:150%;}
#footer .top_but button{
    width:60px;
    height:60px;
    border:2px solid #EEEEEE;
    background-color: #fff;
}
#footer .top_but button:after{
    content:'';
    display: block;
    background: url(../images/top_button.png) no-repeat center center;
    width:37px;
    height:14px;
    position:absolute;
    top:calc(50% - 7px);
    left:calc(50% - 20px);

}
#footer div{
    position:relative;
}

/************************************************************/



@media all and (max-width:960px) {
    #wrap{
        width:100%;
        overflow:hidden}
    #header #nav .depth {
        padding: 10px 00px;
        width:100%;}
    #header #nav .depth > li >a {
    width: 100%;
    padding: 0 20px;
        box-sizing: border-box;}
    #header #nav .depth1 {
        top: 37px;}
    #header .logjo p {
        font-size:0.937rem;
        margin-top: 18px;}
    #slide .slick-dots{
        bottom:17.2%;}
    #slide .slick-arrow {
        bottom: 16%;}
    .tabSet ul.tabs {
        width: 100%}
    .panels{
        width: 100%}
    #sec1 .tabSet{
        width:100%;}
    #sec1 {
        width:calc(100% - 100px);
        margin:0 50px;}
    .tabSet ul.tabs li a {
        padding: 20px 30px;
        box-sizing: border-box;}
    .panels {
        padding: 20px 30px;}
    .panel .house{
        width:100%;}
    .panel .house .left{
        width:14%}
    .panel .house .center{
        width:50%}
    .panel .house .center .tit{
        font-size:1rem;}
    .panel .house .input{
        font-size:1.125rem;}
    .panel .house .right{
        width:27%;
        text-align: center;}
    .panel .house .right2{
        width:5%}
    .panel .house .left input {
        width:60px}
    .panel .house .center input {
        width: 100px;}
    .panel .house .center .tit:nth-child(1) {
        margin-left: 20px;
        margin-right:10px;}
    .panel .house .center .input2 {
        margin-right: 20px;}
    .panel .house .right .txt {
        width: 100%;
        font-size:1.125rem;}
    .panel .house p {
        margin: 3px 0 0 0 ;}
     .panel .house .center .img{
        margin:0 20px 0 10px;}
     .panel .house .center .tit:nth-child(2) {
        margin: 0 10px;}
     .panel .bus .center input {
         width: 250px;}
     .panel .bus .right .txt {
        width: 205px;}
      #sec2 {
          width:calc(100% - 100px);
        margin:450px 50px 0 50px;}
      #sec2 img {
        padding-top: 50px;}
      #sec2 article .tit {
        padding-top: 30px;}
      #sec2 article .txt {
        margin-top: 20px;}
      #sec2 article button {
        padding: 10px 40px;
        margin-top: 20px;
        margin-bottom: 50px;}
      #sec3 {
          width:calc(100% - 120px);
        margin:100px 60px 0 60px;}
      #sec3 .right {
        width: 80%;}
      #sec3 .left {
        width: 100%;}
      #sec3 img {
        width:100%}
      #sec3 .sec3_left {
         width: 100%;}
      #sec3 .sec3_right{
        display: none;}
      #sec4 {
          width:calc(100% - 120px);
        margin:100px 60px 0 60px;}
      #sec4 .more {
        width: 68%;}
      #sec4 .left .text {
        padding: 35px 0;
        position: relative;}
     #sec4 .right_1 img, #sec4 .right_2 img, #sec4 .right_3 img {
          width:195px;}
      #sec4 .left .txt {
         font-size: 1.125rem;}
      #sec5 {
          width:calc(100% - 120px);
        margin:100px 60px 0 60px;}
      #sec5 img{
          width:100%;}
      #sec5 .more {
          width: 89%;}
      #sec5 .instar li {
          width: calc((100% - 60px)/4);
          margin-right:20px;}
      #sec7 {
          width:calc(100% - 100px);
          padding: 100px 50px 0 50px;
          margin:0;}
      #sec7 .main .more {
          width: 56%;}
      #sec7 .main2 .more {
          width: 59%;}
      #sec7 .in_text .text .tct {
            font-size: 0.937rem;}
      #sec7 .in_text .text .tit {
            font-size: 0.937rem;}
      #sec7 .in_text .text .txt {
             font-size: 0.812rem;}
      #footer{
          padding: 100px 60px 80px 60px;}
      #sec1 {
    width:calc(100% - 100px);
    margin: 0 50px;}
    .tabSet ul.tabs li a {
    padding: 20px 30px;}
    .panel .house div {
        margin: 0 auto;
        border-right: 2px solid transparent;
        border-bottom: 2px solid #E0E0E0;}
    .panel .house .left input {
        font-size: 1.125rem;
         width: 75%;
         float:right;}
    .sec1_tct{
        display: none; }
    .sec1_tct2{
        display: block;
        margin-top:40px;
        padding-bottom:15px;
        font-size:0.875rem;
        text-align: center; }
    .panel .bus .left input {
    width: 40%;}
    .panel .house .left {
        width:100%;
        margin:0 auto;
        padding-bottom:10px;
        text-align: center}
    .panel .house {
        width:100%;}
    .panel .house .input {
        font-size: 1.125rem;
        margin: 0 0px;}
    .panel .house .left .tit{
        width:25%;} 
    .panel .house .center .tit:nth-child(1){
        margin-left:0px;
        margin-right: 0px;}
    .panel .bus .sec1_tct2 p {
    float: right;}
    .panel .house .tit {
        font-size: 1rem;}
    .panel .house .center {
        width:100%;
        padding:0 10px 15px 10px;
        margin-top: 15px;}
    .panel .house .center .img {
        width:100%;
        margin:10px 0;}
    .panel .house .center input {
        font-size: 1.125rem;}
    .panel .house .center .tit{
        padding:0 0px;
        margin-right: 0px;
        width:25%;}
    .panel .house .center input {
        width: 75%}
    .panel .house div:nth-child(3), 
    .panel .house div:nth-child(4) {
        border-bottom: none;}
    .panel .house .right {
        width: 100%;
        text-align: center;
        margin-bottom:25px;}
    .panel .house .right .txt {
         width: 100%;
         font-size: 1.125rem;}
    .panel .bus div {
        width:100%;
        text-align: center;
        margin: 0 auto ;
        padding-bottom:0;}
    .panel .house .right2 {
        width:100%;}
    .panel button{
        background:transparent;
        background-color:#3876D9;
        text-indent:0px;
        width:100%;
        color:#fff;
         font-size: 1.125rem;
         border-radius:10px;
         height:60px;}
    .panel .bus .left {
        margin-top:10px;
        width:100%;
        font-size: 1.125rem;
        padding-right: 00px;
        padding-bottom:20px;}
    .panel .bus div {
        border-right: 2px solid transparent;
        border-bottom: 2px solid #E0E0E0;}
    .panel .bus .center {
        margin-top:20px;
        width:100%;
        padding-bottom:20px;
        padding-right: 00px;}
    .panel .bus .center .tit:nth-child(1) {
        font-size: 1rem;
        width:25%;
        margin:0;}
    .panel .bus .center input {
        width: 75%;
         font-size: 1.125rem;}
    .panel .bus .right {
        margin-top: 20px;
        width:100%;
        margin-bottom:28px;}
    .panel .bus .right .txt {
        width:100%;
        font-size: 1.125rem;}
    .panel .bus div:nth-child(1), 
    .panel .bus div:nth-child(5), 
    .panel .bus div:nth-child(4) {
        border-bottom: none;}
    #footer .top_but {
         bottom: 200%;}
}



@media all and (max-width:760px) {
    #header #nav {
        text-align: center;
        background: #fff;
        position: absolute;
        display: block;
        height:250px;
        top: 55px;
        width:100%;
        height: auto;
       display: block}
    #header #nav .depth > li{
        width:100%;;
        line-height: 2.5em;
        float:none;
    position: inherit;}
    #header #nav .depth > li >a {
        padding: 0px;
        color:#4d4d4d;
        float: none;
        width: 23%;
    font-size: 0.812rem;}
    #header #nav .depth1 > li:after {
         display: none;;}
    #header #nav .depth1 {
        margin-top:18px;
        display: block;    
        width: 77%;
        float: right;
        position: absolute;
        top:-20%;
        left:25%;}
    #header #nav .depth1 > li a {
        font-size: 0.687rem;
        font-weight:300;
        line-height: 2em;
        float: left;
        margin-right:10px;}
    #header #nav .depth {
        padding: 10px 20px;
        height:auto;
        width:100%;
        box-sizing: border-box;
        float:left;}
    .tabSet ul.tabs li a {
        text-align: center;}
    .tabSet ul.tabs li a .text_bus{
        width:100%;
        text-align: center;}
    #sec1 {
    width:calc(100% - 40px);
    margin: 0 20px;}
    #sec2 article {
        width:calc(100% - 40px);
        text-align: center;
        padding:40px;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-right: 00px;}
    #sec2 article:nth-child(3){
        margin-bottom:0px; }
    #sec2 {
         margin: 480px 20px 0 20px;
        width:100%;}
    #sec2 a:after{
        content:'';
        display: block;
        clear:both;} 
    #sec2 img {
        padding-top: 10px;
        margin-right:0px;}
    #sec2 .left{
        float:left;
        width:(50% - 20px);}
    #sec2 article button {
        width:100%;
        padding:20px 40px;
        margin-top: 40px;
        margin-bottom: 00px;
        font-size:1.125rem;}
    #sec2 article .tit {
        padding-top: 10px;}
    #sec2 article .txt {
        display: none;}
    #sec2 article .tit {
        font-size: 1.562rem;
        margin-top:10px;
        font-weight: 600;}
    #sec2 article .txt_display{
        display: block;
        margin-top:15px}     
    #sec3 .tit {
        font-size: 1.25rem;}
    #sec3 {
        margin: 100px 20px 0 20px;
        width:calc(100% - 40px);}
    #sec3 h3 {
        font-size: 1.25rem;}
    #sec3 .more {
        text-align: right;
        border-bottom: 2px solid #3C3C3B;
        padding-right: 10px;
        padding-bottom: 5px;
        font-size:0.75rem;}
    #sec3 .left {
        width: 100%;
        position:relative;}
    #sec3 .right {
        position:absolute;
        top:0;
        width: 100%;
        padding-top: 10px;}
    #sec3 .more:after,
    #sec4 .more:after {
        margin-top: 2.7px;
        margin-left: 5px;}
    #sec3 .sec3_right{
        display: none;}
    #sec3 .sec3_left {
        width:100%;
        float:none;}
    #sec3 .sec3_left .left_in .text{
        padding-left:5px;} 
    #sec3 .sec3_left .left_in .tit {
        font-size: 1rem;}
    #sec3 .sec3_left .left_in .txt {
        font-size: 0.75rem;
        margin-top: 10px;}
    #sec3 .sec3_left .left_in .tct {
        font-size: 0.75rem;}
    #sec3 img {
        width: 85px;
        float: right;
        margin-top: 18px;}
    #sec3 .sec3_left .left_in {
    line-height: 1.8em;}
    #sec3 .sec3_left .left_in > div {
        padding: 8px 0;}
    #sec4 .tit{
        font-size:0.812rem;
        text-align: right;
        color: #fff;
        font-weight: 300;}
    #sec4 .right_1, #sec4 .right_2, #sec4 .right_3, #sec4 .left {
    border: none;
    box-sizing: border-box;}
    #sec4 article .txt{
        font-size:1.125rem;
        text-align: right;}
    #sec4 {
        margin: 100px 20px 0 20px;
        width:calc(100% - 40px)}
    #sec4 article.left{
        width:100%;
        margin-bottom:20px;} 
    #sec4 .right_1, #sec4 .right_2, #sec4 .right_3 {
        width:100%;
        position:relative;
        height:100%}
    #sec4 .right_1 .text, #sec4 .right_2 .text, #sec4 .right_3 .text {
        top: calc(88% - 35px);
        width:85%;
        left: 7%;
         z-index: 99999;}
    #sec4 .right_1 .text:after, 
    #sec4 .right_2 .text:after, 
    #sec4 .right_3 .text:after {
        display: none;
        opacity: 0;}
    #sec4 .right_1 .number, #sec4 .right_2 .number, #sec4 .right_3 .number {
        top: 0;}
    #sec4 .number {
        left: 0;
        top:0;
         z-index: 99999;}
    #sec4 .left .text:after {
        display: none;}
    #sec4 .left .text {
         z-index: 99999;
        padding: 20px 0;
        position: absolute;
        bottom: 0%;
        width:85%;
        right: 7%;}
    #sec4 .right_1 img, #sec4 .right_2 img, #sec4 .right_3 img {
        width:100%;
        position: inherit;}
    #sec4 .right_1 a:after{
        content:'';
        display: block;
        clear: both; }
    #sec4 h3 {
        font-size: 1.25rem;}
    #sec4 .more {
         width: 100%;
        padding-bottom: 5px;
        font-size:0.75rem;
        bottom: -5px;}
    #sec5 h3 {
        font-size: 1.25rem;}
    #sec5 .more {
        width: 100%;
        margin-top:00px;
        bottom: -5px;
        width: 100%;
        padding-bottom: 5px;
        font-size: 0.75rem;}
    #sec5 .more:after,
    #sec7 .more:after{
        margin-top: 2.7px;
        margin-left: 5px;}
    #sec5 .instar li {
    width: calc((100% - 30px)/4);
    margin-right: 10px;
    margin-bottom: 10px;}
    #sec5 .instar {
        margin-top:20px;}
    #sec5 {
        border-bottom: 2px solid transparent;
        width:calc(100% - 40px);
        margin:100px 20px 0 20px;
        padding:0;}
    #sec5_1{
        width:100%;}
    #sec5_1 .center4 {
        display: block;
        width:100%;} 
    #sec6 .slick-prev {
        width: 40px;
        height: 500px;
        left: 0;
        background: transparent;}
    #sec6 .slick-next {
        right: 0;
        width: 40px;
        height: 500px;
        background: transparent;}
    #sec6 {
        margin-top: 15px;}
    #sec7 {
        margin: 100px 20px 0 20px;
        padding: 0px;
        width:calc(100% - 40px);}
    #sec7 article {
        float: none;
        width:100%;}
    #sec7 .right {
        margin-right: 0;
        margin-top:50px;}
    #sec7 .main h3, #sec7 .main2 h3 {
        font-size: 1.25rem;
        margin-bottom:15px;}
    #sec7 .main .more, #sec7 .main2 .more {
        width: 100%;
        margin-top: 0px;
        padding-right: 0px;
        padding-bottom: 5px;
        bottom: -5px;
        font-size: 0.75rem;}
    #sec7 .in_text .text .tit {
    font-size: 0.812rem;}
    #footer {
        padding: 100px 20px 80px 20px;
        width:calc(100% - 40px);  }
    #sec7 .in_text .text .tct {
        font-size:0.75rem;}
    #footer .left {
        float: none;}
    #footer .right {
        float: right;}
    #header .logjo{
        display: none;}
    #header .nav_btn {
        display: block;}
    #sec7 .in_text .text {
        padding: 10px 10px}
    #header{
        padding-bottom:10px}
    #sec7 .right .in_text .text .tit:after {
        margin: 0px 10px 0 10px}
    #footer .left .left_top p {
        padding: 0 5px;}
    #sec4 .left:hover:before, #sec4 .left:focus:before,
    #sec4 .right_1:hover:before, #sec4 .right_1:focus:before, 
    #sec4 .right_2:hover:before, #sec4 .right_2:focus:before, 
    #sec4 .right_3:hover:before, #sec4 .right_3:focus:before{
        display: none;
        border-top: none;
        border-right: none; }
    #sec4 .right_1:hover:after, #sec4 .right_1:focus:after, 
    #sec4 .right_2:hover:after, #sec4 .right_2:focus:after, 
    #sec4 .right_3:hover:after, #sec4 .right_3:focus:after,
    #sec4 .left:hover:after, #sec4 .left:focus:after{
        background-color: rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        right: 0px;
        bottom: 0;
        border-bottom: none;
        border-left: none;
        transition:opacity 0.3s;
        opacity: 1;}
    #sec4 .right_1:hover #sec4 .tit,
    #sec4 .right_2:hover #sec4 .tit,
    #sec4 .right_3:hover #sec4 .tit{
        color:#fff;}
    #sec4 .left:after, #sec4 .laft:focus:after {
        right: 0;
        bottom:0;
        width: 100%;
        height: 100%;
        border-bottom: none;
        border-left:none; 
        background-color: rgba(0,0,0,0.5);
        opacity: 0;}
    #bottom{
        display: block;}
    #footer h3 {
        font-size: 1.562rem;} 
    #sec5 .instar li:hover:before, #sec5 .instar li:focus:before {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-top: 4px solid #8D89E3;
        border-right: 4px solid #8D89E3;}
    #sec5 .instar li:hover:after, #sec5 .instar li:focus:after {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-bottom: 4px solid #8D89E3;
        border-left: 4px solid #8D89E3;}
    #footer .top_but {
       bottom: 130%;}
}